DB_NAME=postgres
DB_HOST=localhost
DB_PASSWORD=password
DB_USER=postgres
DB_PORT=5432

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:password@localhost:5432/postgres
GOOSE_MIGRATION_DIR=./migrations

GEMINI_API_KEY=api_pass
